.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-out, visibility 0.3s ease-in-out;
    overflow: hidden;
}

.overlayVisible {
    visibility: visible;
    opacity: 1;
    .drawer {
        transform: translateX(0);
    }
}

.drawer {
    position: absolute;
    width: 420px;
    height: 100%;
    right: 0;
    background: #ffffff;
    box-shadow: -10px 4px 24px rbga(0, 0, 0, 0.1);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    padding: 30px;
    .drawerHeader {
        margin-bottom: 30px;
        h2 {
            margin: 0;
            color: #000;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
    .drawerFooter {
        p {
            color: #000;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin: 0;
        }
        span {
            color: #000;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
        .drawerFooterTotal {
            margin-bottom: 15px;
        }
        .drawerFooterTax {
            margin-bottom: 24px;
        }
        button {
            border-radius: 18px;
            background: #9dd458;
            width: 325px;
            height: 55px;
            border: 0;
            color: #fff;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-left: 40px;
        }
    }
}

.items {
    flex: 1;
    overflow: auto;
    margin-bottom: 40px;
}

.cartItem {
    border: 1px solid #f3f3f3;
    border-radius: 20px;
    overflow: hidden;
    padding: 20px;
    .cartItemImg {
        height: 70px;
        width: 70px;
        background-size: contain;
        background-position: 0 -3px;
        background-repeat: no-repeat;
        margin-right: 20px;
    }
    p {
        font-size: 16px;
        margin: 0;
    }
    b {
        font-size: 14px;
    }
    .removeBtn {
        opacity: 0.5;
        transition: opacity 0.15s ease-in-out;
        cursor: pointer;
        &:hover {
            opacity: 1;
        }
    }
}

.cartTotalBlock {
    ul {
        margin-bottom: 40px !important;
        li {
            display: flex;
            align-items: flex-end;
            margin-bottom: 20px;
            div {
                flex: 1;
                height: 1px;
                border-bottom: 1px dashed #dfdfdf;
                position: relative;
                top: -4px;
                margin: 0 7px;
            }
        }
    }
    .greenButton {
        position: relative;

        &:disabled {
            animation: button-loading 0.6s ease-in-out infinite;
        }

        &:hover {
            img {
                transform: translateX(5px);
            }
        }

        img {
            position: absolute;
            right: 40px;
            top: 20px;
            transition: transform 0.15s ease-in-out;
        }
    }
}

.greenButton {
    width: 100%;
    height: 55px;
    background: #9dd558;
    border-radius: 18px;
    border: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    transition: background 0.1s ease-in-out;
    &:disabled {
        background-color: #bebebe !important;
        cursor: default;
    }
    &:hover {
        background: lighten(#9dd558, 5%);
    }
    &:active {
        background: darken(#9dd558, 5%);
    }
}
